# Core
scikit-learn
pandas
numpy
joblib

# NLP
nltk
contractions
textblob
nlpaug

# Deep Learning
torch
transformers
accelerate
datasets
evaluate

# Visualization
matplotlib
seaborn
wordcloud

# Progress bars
tqdm

# Web Interface
streamlit

# Utilities
python-dotenv